<div>
    <div>
        <nav>
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Property
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Rent Request</a></li>
                      <li><a class="dropdown-item" href="#">Dovelopment</a></li>
                      <!-- <li><a class="dropdown-item" href="#">Income Statement</a></li>
                      <li><a class="dropdown-item" href="#">Add A/C</a></li>
                      <li><a class="dropdown-item" href="#">Cash Book</a></li> -->
                    </ul>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Accounts
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">A/C List</a></li>
                      <li><a class="dropdown-item" href="#">Pending Issue</a></li>
                      <li><a class="dropdown-item" href="#">Income Statement</a></li>
                      <li><a class="dropdown-item" href="#">Add A/C</a></li>
                      <li><a class="dropdown-item" href="#">Cash Book</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                      Admin
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                User List
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Engineers</a></li>
                              <li><a class="dropdown-item" href="#">Vendors</a></li>
                              <li><a class="dropdown-item" href="#">Supplier</a></li>
                              <li><a class="dropdown-item" href="#">Contractor</a></li>
                              <!-- <li><a class="dropdown-item" href="#">Attendance</a></li>
                              <li><a class="dropdown-item" href="#">Leave Applications</a></li> -->
                            </ul>
                          </li>
                      <li><a class="dropdown-item" href="#">Appointments</a></li>
                      <li><a class="dropdown-item" href="#">Feedbacks</a></li>
                      <li><a class="dropdown-item" href="#">Salary Sheets</a></li>
                      <li><a class="dropdown-item" href="#">Attendance</a></li>
                      <li><a class="dropdown-item" href="#">Leave Applications</a></li>
                    </ul>
                  </li>
                <li class="nav-item">
                  <a class="nav-link " routerLink="...">Voucher Board</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      E-Payments
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Pending Payments</a></li>
                      <li><a class="dropdown-item" href="#">Paid : Not Posted</a></li>
                      <li><a class="dropdown-item" href="#">Paid : AND Posted</a></li>
                      <!-- <li><a class="dropdown-item" href="#">Salary Sheets</a></li>
                      <li><a class="dropdown-item" href="#">Attendance</a></li>
                      <li><a class="dropdown-item" href="#">Leave Applications</a></li> -->
                    </ul>
                  </li>
              </ul>
        </nav>
    </div>
</div>